POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_PORT=youe_postgres_port
POSTGRES_HOST=localhost
FRAUD_DETECTION_DB=fraud_detection
MLFLOW_DB=mlflow
MLFLOW_PORT=your_mlflow_port
MLFLOW_HOST=localhost
MLFLOW_MODEL_URI=models:/name@alias
MLFLOW_MODEL_FLAVOR=sklearn_or_pyfunc
MLFLOW_ALLOWED_HOSTS=mlflow:your_mlflow_port,localhost:your_mlflow_port
MLFLOW_CORS_ORIGINS=http://mlflow:your_mlflow_port,http://localhost:your_mlflow_port
API_PORT=your_api_port
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...