scoop install main/terraform
scoop install main/kubectl
scoop install main/helm
scoop install main/aws
scoop install main/act
#
docker info
#
docker network create ministack_network
docker run -d -p 4566:4566 `
  -v /var/run/docker.sock:/var/run/docker.sock `
  -e DOCKER_NETWORK=ministack_network `
  -e AWS_ACCESS_KEY_ID=test `
  -e AWS_SECRET_ACCESS_KEY=test `
  -e AWS_DEFAULT_REGION=us-east-1 `
  -e RDS_PERSIST=1 `
  -e PERSIST_STATE=1 `
  -v C:\Tools\ministack\data\state:/tmp/ministack-state `
  -e S3_PERSIST=1 `
  -v C:\Tools\ministack\data\s3:/tmp/ministack-data/s3 `
  --network ministack_network `
  --name ministack `
  ministackorg/ministack
docker start ministack
terraform init
terraform apply -target="module.eks_cluster" -auto-approve; if ($LASTEXITCODE -eq 0) { terraform apply -auto-approve }

# Check status
kubectl get nodes
kubectl get pods -A
kubectl get pods -n kube-system
kubectl describe node
helm list --all-namespaces
helmfile status
helmfile diff

#

kubectl get all -A

kubectl get pvc,pv

kubectl describe node
