# Check status
kubectl get nodes
kubectl get pods -A
kubectl get pods -n kube-system
kubectl describe node
helm list --all-namespaces
helmfile status
helmfile diff

#

kubectl get all -A

kubectl get pvc,pv

kubectl describe node
