# Environment
.env

# Docker secrets
/secrets

# Github actions secrets
.secrets

# Kubernetes secrets
**/secret.yaml

# Terraform
infrastructure/local_files
infrastructure/.terraform
infrastructure/.terraform.lock.hcl
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/.terraform.tfstate.lock.info
infrastructure/terraform.tfvars

# Python dependencies
.venv/

# MLflow
models
mlflow.db

# Others
.idea
.mypy_cache
.pytest-cache
.ruff-cache
__pycache__

# Temporary
/*.md
delete
my_current_codes.zip
infrastructure/terraform.zip
infrastructure.zip
count-lines.ps1