# AWS
# /admin
aws_admin_access_key = "admin"
aws_admin_secret_key = "admin"
aws_admin_region     = "us-east-1"
aws_admin_account_id = "000000000000"

# RDS
# /postgres
rds_postgres_admin_username = "admin" # Can't be changed in MiniStack's RDS
rds_postgres_admin_password = "admin" # Can't be changed in MiniStack's RDS
# /mlflow-schema
rds_postgres_mlflow_username = "mlflow_0123456789"
rds_postgres_mlflow_password = "mlflow_0123456789"

# MLflow
# /admin
mlflow_admin_username = "mlflow_0123456789"
mlflow_admin_password = "mlflow_0123456789"
# /app-secret-key
mlflow_flask_server_secret_key = "IXGcP6hj2CCcc2hEQrkHYJf1hbtohKf7"