aws_access_key              = "test"
aws_secret_key              = "test"
aws_region                  = "us-east-1"
aws_account_id              = "000000000000"

rds_db_username             = "test"
rds_db_password             = "test"

mlflow_db_username          = "mlflow"
mlflow_db_password          = "mlflow"

mle_db_username             = "mle"
mle_db_password             = "mle"

mle_migrations_db_username  = "mle-migrations"
mle_migrations_db_password  = "mle-migrations"